TabWidth: 4
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false
ColumnLimit: 80
IncludeBlocks: Preserve
SortIncludes: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: true
BreakBeforeBraces: Attach
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false # if(...) rather than if (...)
  AfterFunctionDeclarationName: false # void f(); rather than void f ();
  AfterFunctionDefinitionName: false # void f() {} rather than void f () {}
  AfterForeachMacros: false # FOREACH(...) rather than FOREACH (...)
  AfterIfMacros: false # IF(...) rather than IF (...)
  AfterNot: false # not(a || b) rather than not (a || b)
  AfterOverloadedOperator: false # operator++(x) rather than operator++ (x)
  AfterPlacementOperator: false # new(buf) rather than new (buf)
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
BinPackArguments: true
